@media (max-width: 1200px) {
	.search-item {
		width: 231px;
		height: 350px;
	}
	.search-results,
	.rating-poster-list {
		gap: 2rem 4rem;
	}

	.search-box-shadow {
		opacity: 1;
	}
	.btn-add {
		transform: scale(1);
		&:hover {
			transform: scale(1.1);
		}
	}
}

@media (max-width: 950px) {
	.search-results,
	.rating-poster-list {
		grid-template-columns: repeat(2, 1fr);
	}
	.search-title {
		font-size: 0.8rem;
		padding: 1rem 1.5rem;
	}
}
@media (max-width: 650px) {
	.search-results,
	.rating-poster-list {
		grid-template-columns: repeat(1, 1fr);
	}
	.search-title {
		font-size: 0.8rem;
	}
	.page-list-bar {
		z-index: 1000;
		position: fixed;
		bottom: 0rem;
		height: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.page-list {
		font-size: 1rem;
		width: 100%;
		height: inherit;
		display: flex;
		align-items: center;
		justify-content: center;
		li {
			height: inherit;
		}
		a {
			margin: auto;
			height: inherit;
			&:hover {
				background-color: none;
			}
		}
		i {
			margin: auto;
			margin-top: 0.4rem;
			span {
				font-size: 0.9rem;
				padding: 0rem;
			}
			padding: 0 2.5rem;
			height: 100%;
			width: 100%;
			// text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			// justify-content: space-around;
		}
	}
	.navbar {
		li {
			margin: 0.1rem 0;
		}
	}
	.page-title {
		margin: 0;
		margin-top: 3rem;
		text-align: center;
	}

	.view-btns {
		margin-top: 0.4rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.btn-poster,
	.btn-list {
		margin: 0;
	}

	.popup {
		width: 250px;
		height: 500px;
		margin-left: -125px;
		margin-top: -250px;
		padding: 0.5rem 1rem;
	}
	.popup-info-and-img {
		flex-direction: column;
	}
	.popup-top-info h1 {
		font-size: 1rem;
	}

	.popup-rating,
	.popup-runtime,
	.popup-imdb,
	.popup-genre {
		font-size: 0.5rem;
		margin-top: 0rem;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	.popup-rating {
		grid-area: rating;
		// margin-right: .5rem;
	}
	.popup-runtime {
		grid-area: runtime;
	}
	.popup-imdb {
		grid-area: imdb;
	}
	.popup-plot {
		font-size: 0.7rem;
		height: 8rem;
		margin: 0.5rem 0;
	}

	.popup-add {
		font-size: 0.8rem;
		width: 70%;
	}

	.btn-back {
		font-size: 2rem;
		padding: 0.3rem 0.9rem;
		right: -25px;
		top: 400px;
	}

	.popup-buttons {
		margin: auto;
		display: grid;
		gap: 0.2rem;
		// grid-template-rows: auto;
		grid-template-areas:
			'rating runtime'
			'imdb imdb';
	}

	.popup-info {
		margin: auto;
	}

	.popup-img {
		width: 100px;
		height: 152px;
		margin: auto;
	}
	.footer {
		bottom: 45px !important;
	}
}
