* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1200px;
  padding: 0 3rem;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.navbar h1 {
  padding: 1rem 0;
}

.navbar p {
  padding: 1rem 0;
}

.navbar ul {
  padding-inline-start: 0;
}

.navbar .page-list-bar {
  background-color: #ddd;
  width: 100%;
  margin: auto;
}

.navbar .page-list {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.navbar a {
  padding: 1rem 2rem;
  background-color: #ddd;
  color: black;
}

.navbar a:hover {
  background-color: #ccc;
}

.about h1 {
  margin: 2rem 0 0.5rem 0;
}

.movie-list,
.rating-list {
  padding: 2rem 0;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rating-list {
  background: #eee;
}

.movie-item,
.rating-item {
  display: grid;
  grid-template-columns: 5fr 1fr;
  width: 100%;
  padding: 1rem;
}

.movie-item .list-item-text,
.rating-item .list-item-text {
  margin: auto 0;
  display: flex;
  justify-content: flex-start;
}

.movie-item .score,
.rating-item .score {
  margin-right: 1rem;
}

.movie-item .title,
.rating-item .title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
}

.movie-item .list-buttons,
.rating-item .list-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-item .delete,
.movie-item .check,
.rating-item .delete,
.rating-item .check {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 30px;
  text-align: center;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-item .delete svg,
.movie-item .check svg,
.rating-item .delete svg,
.rating-item .check svg {
  margin: auto;
}

.movie-item .delete:hover,
.movie-item .check:hover,
.rating-item .delete:hover,
.rating-item .check:hover {
  background: #ccc;
}

.movie-item .delete:active,
.movie-item .check:active,
.rating-item .delete:active,
.rating-item .check:active {
  background: #bbb;
}

.popup {
  width: 400px;
  height: 400px;
  background: #ffcfcf;
  z-index: 5;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  /* negative half of width above */
  margin-top: -200px;
  /* negative half of height above */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.grey-out {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.349);
}

.input-movie-form {
  padding: 1rem 0;
}

.input-movie-form .title,
.input-movie-form .author {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-movie-form .title input,
.input-movie-form .author input {
  padding: 0.5rem;
  margin-top: 0.3rem;
  font-size: 1.2rem;
}

.input-movie-form .submit {
  width: 100%;
  padding: 0.5rem;
}

.empty {
  text-align: center;
  font-weight: bold;
  padding: 2rem 0;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  text-align: center;
}

.search-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eee;
  padding: 1.5rem;
}

.search-item img {
  width: 150px;
  margin: 1.5rem;
}

.btn {
  font-size: 1rem;
  border-radius: 10px;
  color: #fff;
  background: coral;
  border: none;
  transition: all 0.1s ease;
  padding: 0.8rem 2rem;
  margin: 0.2rem;
}

.btn:hover {
  background: #b65a38;
}
/*# sourceMappingURL=index.css.map */