* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #555;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1200px;
  padding: 0 3rem;
  margin: auto;
  min-height: 90vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  background: #ffcfcf;
  color: #000;
  text-align: center;
}

.navbar h1 {
  padding: 1rem 0;
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  color: #fb363f;
}

.navbar h4 {
  padding: 0 2rem;
}

.navbar p {
  padding: 1rem 0;
}

.navbar ul {
  padding-inline-start: 0;
}

.navbar .page-list-bar {
  background: #fb363f;
  width: 100%;
  margin: auto;
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 1.5rem;
}

.navbar .page-list {
  padding: 0 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.navbar a {
  padding: 1rem 2rem;
  margin: 0;
  height: 100%;
  color: #fff;
  text-align: center;
  transition: 0.1s all ease;
}

.about p {
  margin-left: 1rem;
}

.movie-list,
.rating-list {
  margin: 1rem 0;
  padding-inline-start: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.movie-item,
.rating-item {
  display: grid;
  grid-template-columns: 5fr 1fr;
  width: 100%;
  margin: 0.3rem;
  padding: 0.8rem;
  background: #444;
  border-radius: 15px;
}

.movie-item .list-item-text,
.rating-item .list-item-text {
  margin: auto 0;
  display: flex;
  justify-content: flex-start;
}

.movie-item .score,
.rating-item .score {
  margin-right: 1rem;
}

.movie-item .title,
.rating-item .title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
  font-family: 'Jua', sans-serif;
}

.movie-item .list-buttons,
.rating-item .list-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-item .delete,
.movie-item .check,
.rating-item .delete,
.rating-item .check {
  color: #cfcfcf;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #555;
  border-radius: 30px;
  text-align: center;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.movie-item .delete svg,
.movie-item .check svg,
.rating-item .delete svg,
.rating-item .check svg {
  margin: auto;
}

.movie-item .delete:hover,
.movie-item .check:hover,
.rating-item .delete:hover,
.rating-item .check:hover {
  background: #666666;
  color: #fff;
  transform: scale(1.05);
}

.movie-item .delete:active,
.movie-item .check:active,
.rating-item .delete:active,
.rating-item .check:active {
  background: #bbb;
}

.popup {
  width: 600px;
  height: 700px;
  background: #ffcfcf;
  z-index: 7;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  padding: 1rem 2.5rem;
}

.popup-info-and-img {
  display: flex;
  width: 100%;
}

.popup-plot {
  height: 15rem;
  text-align: left;
}

.popup-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5rem 0 0.5rem 2rem;
  justify-content: space-between;
  width: 100%;
}

.popup-add {
  align-self: center;
  width: 100%;
}

.popup-img {
  width: 264px;
  height: 400px;
}

.popup-rating {
  grid-area: rating;
}

.popup-runtime {
  grid-area: runtime;
}

.popup-imdb {
  grid-area: imdb;
}

.popup-buttons {
  margin: 0 auto;
  display: grid;
  gap: 0.2rem;
  grid-template-areas: 'rating runtime' 'imdb imdb';
}

.popup-rating {
  margin-top: 0.3rem;
  font-size: 1rem;
  color: #fb363f;
  border: #fb363f 4px solid;
  padding: 0.3rem 1rem;
  border-radius: 10px;
}

.popup-imdb {
  margin-top: 0.3rem;
  font-size: 1rem;
  background: #f5de50;
  color: #333;
  border: #333 4px solid;
  padding: 0.3rem 1rem;
  border-radius: 10px;
}

.popup-runtime {
  margin-top: 0.3rem;
  font-size: 1rem;
  background: #555;
  color: #f4f4f4;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.popup-rate-movie {
  width: 300px;
  height: 350px;
  background: #ffcfcf;
  z-index: 7;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  padding: 1rem 2.5rem;
  border: none;
  text-align: center;
  color: #333;
}

.popup-rate-movie select {
  font-size: 1.3rem;
  border-radius: 5px;
}

.grey-out {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0;
}

.grey-on {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.7;
  z-index: 6;
}

.grey-off {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0;
  z-index: -10;
}

.input-movie-form {
  padding: 1rem 0;
}

.input-movie-form .title,
.input-movie-form .author {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-movie-form .title input,
.input-movie-form .author input {
  padding: 0.5rem;
  margin-top: 0.3rem;
  font-size: 1.2rem;
}

.input-movie-form .submit {
  width: 100%;
  padding: 0.8rem 2rem;
  background: #ffcfcf;
  font-size: 1rem;
  border: none;
  transition: all 0.2s ease;
}

.input-movie-form .submit:hover {
  background: #e4a1a1;
}

.empty {
  text-align: center;
  font-weight: bold;
  padding: 2rem 0;
}

.alert {
  display: block;
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
  margin: 1rem 0;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 4rem;
  text-align: center;
  color: #333;
}

.search-title-and-item {
  display: grid;
  grid-template-rows: 1fr 6fr;
}

.search-title {
  color: #f4f4f4;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.search-item {
  border-radius: 10px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0);
  width: 330px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

.search-item:hover .search-box-shadow {
  opacity: 1;
}

.search-item:hover .btn-add {
  transform: scale(1);
}

.search-item:hover .btn-add:hover {
  transform: scale(1.1);
}

.search-img {
  float: left;
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: inherit;
}

.search-box-shadow {
  opacity: 0;
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: inherit;
  transition: all 0.2s ease;
}

.btn {
  font-size: 1rem;
  border-radius: 10px;
  color: #fff;
  background: #fb363f;
  border: none;
  transition: all 0.1s ease;
  padding: 0.8rem 2rem;
  margin: 0.2rem;
}

.btn:hover {
  background: #bb242c;
}

.btn-clear {
  width: 100%;
  border-radius: 0;
  margin: 1rem auto;
}

.btn-add {
  position: absolute;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.3);
  font-size: 1.4rem;
  margin: 0;
  margin-top: 8rem;
  transition: all 0.2s ease;
  transform: scale(0);
}

.btn-info,
.btn-back {
  position: absolute;
  border-radius: 50%;
  padding: 0.2rem 1.1rem;
  font-size: 3rem;
  right: -35px;
  top: 30px;
  font-weight: bold;
  z-index: 5;
}

.btn-info:hover,
.btn-back:hover {
  transform: scale(1.1);
}

.x {
  position: relative;
  top: -0.2rem;
}

.footer {
  position: relative;
  width: 100%;
  bottom: 0;
  background-color: #fb363f;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
  margin-top: 3rem;
}

.page-title {
  margin: 3rem 0 0 1rem;
  font-family: 'Baloo Chettan 2', cursive;
  font-weight: 800;
}

@media (max-width: 1200px) {
  .search-item {
    width: 231px;
    height: 350px;
  }
  .search-results {
    gap: 2rem 4rem;
  }
  .search-box-shadow {
    opacity: 1;
  }
  .btn-add {
    transform: scale(1);
  }
  .btn-add:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 950px) {
  .search-results {
    grid-template-columns: repeat(2, 1fr);
  }
  .search-title {
    font-size: 0.8rem;
    padding: 1rem 1.5rem;
  }
}

@media (max-width: 650px) {
  .search-results {
    grid-template-columns: repeat(1, 1fr);
  }
  .search-title {
    font-size: 0.8rem;
  }
  .page-list-bar {
    z-index: 1000;
    position: fixed;
    bottom: 0rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar a {
    padding: 0.5rem;
  }
  .page-list {
    font-size: 1rem;
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-list li {
    height: inherit;
  }
  .page-list a {
    margin: auto;
    height: inherit;
  }
  .page-list a:hover {
    background-color: none;
  }
  .page-list i {
    margin: auto;
    margin-top: -1.1rem;
    padding: 0 3rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page-list i span {
    font-size: 0.5rem;
  }
  .navbar li {
    margin: 0.1rem 0;
  }
  .popup {
    width: 250px;
    height: 500px;
    margin-left: -125px;
    margin-top: -250px;
    padding: 0.5rem 1rem;
  }
  .popup-info-and-img {
    flex-direction: column;
  }
  .popup-top-info h1 {
    font-size: 1rem;
  }
  .popup-rating,
  .popup-runtime,
  .popup-imdb,
  .popup-genre {
    font-size: 0.5rem;
    margin-top: 0rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .popup-rating {
    grid-area: rating;
  }
  .popup-runtime {
    grid-area: runtime;
  }
  .popup-imdb {
    grid-area: imdb;
  }
  .popup-plot {
    font-size: 0.7rem;
    height: 8rem;
    margin: 0.5rem 0;
  }
  .popup-add {
    font-size: 0.8rem;
    width: 70%;
  }
  .btn-back {
    font-size: 2rem;
    padding: 0.3rem 0.9rem;
    right: -25px;
    top: 400px;
  }
  .popup-buttons {
    margin: auto;
    display: grid;
    gap: 0.2rem;
    grid-template-areas: 'rating runtime' 'imdb imdb';
  }
  .popup-info {
    margin: auto;
  }
  .popup-img {
    width: 100px;
    height: 152px;
    margin: auto;
  }
}
/*# sourceMappingURL=index.css.map */